        
    *{
        margin-top: 0.1%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .nav{
        height: 60px;
        width: 100%;
        background:#002366;
        border-radius: 10px;
        z-index: 2;
        position: fixed;
        z-index: 100;
    }
    .nav nav ul li{
        display: inline-block;
    }
    nav{
        position: absolute;
        left:25%;
    }
    .nav nav ul li a{
        margin-left: 20px;
        line-height: 50px;
        text-decoration: none;
        color: white;
    }
    nav ul li a:hover{
        color:#ff6611;
        text-decoration: solid;
    }
    nav ul li a:active{
        background-color: white;
    }
    nav img{
       position: fixed;
       left: 4%;
       top: 2%;
        height: 40px;
        width: 200px;
    }
 
    .main1{
     height: 800px;
     width: 100%;
     background-color: darkslategrey;
    }
 
    .m1{
     height: 500px;
     width: 400px;
     border-radius: 10px;
     background-image: url(images/jin1.jpg);
     background-size: cover;
     position: absolute;
     top: 150px;
     left: 10%;
     box-shadow: 5px -5px 10px black;
     z-index: 1;
    }
 
    .m2{
     height: 300px;
     width: 600px;
     border-radius: 10px;
     background-image: url(images/coll3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 100px;
     left: 32%;
     box-shadow: 5px -5px 10px black;
    }
 
    .m3{
     height: 400px;
     width: 300px;
     padding: 10px;
     margin: 10px;
     background-color: white;
     box-shadow: -5px -5px 10px 2px black;
     position: absolute;
     left: 53%;
     top: 360px;
     border: solid black 2px;
     border-radius: 10px;
    }
 
    .m3 h1{
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 5px;
     margin-top: 20px;
    }
 
    .m3 p{

     padding: 15px;
    }

    .front1{
     height: 1500px;
     width: 50%;
     padding: 100px;
     margin-top: 300px;
     margin-left: 50px;
     background-color:#c8c9ca;
     text-wrap:20px;
     box-shadow: 5px 5px 10px 5px #8391a1;
     z-index: 2;
     border-radius: 10px;
    }

    .front1 #i1{
        float: right;
        height:400px;
        width:350px;
        margin-left: 40px;
    }

    .front1 #i2{
        float: left;
        height: 300px;
        width: 400px;
        margin-right: 40px;
    }

    .front1 #i3{
        float: right;
        height: 300px;
        width: 400px;
        margin-left: 40px;
        margin-top: 150px;
    }


    .back1{
        height: 1500px;
        width: 30%;
        background-color:rgb(223, 223, 199);
        padding: 40px;
        position: absolute;
        top: 1000px;
        left: 60%;
        z-index: -1;
        box-shadow: -5px -5px 40px 5px #8391a1;
        text-wrap: 20px;
        transition: 2s ease-in-out;
    }

    .back1:hover + .back1{
        background-color: red;
        transform: scale3d(1.1,1.1,1.1);
        z-index: 10;
    }


    .back1 #i1{
        float: left;
        height:350px;
        width: 300px;
        margin-right: 20px;
    }

    .back1 #i2{
        float: right;
        height:350px;
        width: 300px;
        margin-left:20px;
    }

    .achievements{
        margin-top: 200px;
        height: 300px;
        width: 100%;
        background-color: #1e90ff;
    }
 
 
 
 
 
 
 
 
 
 
 
 footer{
      height: 600px;
      width: 100%;
      background-image: url(images/foot1.jpg);
      background-size: cover;
      background-repeat: no-repeat; 
  }
 
  iframe{
      background-image: url(images/query2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -70px;
      margin-left: 56%;
      margin-top: -10%;
      height: 550px;
      width: 40%;
  }
  footer .foot h1{
      color: white;
      margin-left: 20%;
      margin-top: 5%;
  }
  footer .foot h3{
      color: white;
      margin-left: 2%;
  }
  button{
      background-color: #1034a6;
      margin-left: 25%;
      margin-top: 15px;
      border: none;
      font-size: 20px;
      border-radius: 20px;
      padding: 1%;
  }
  button:hover{
      background-color:black;
  }
  button a{
      color: #ff6611;
  }
  button a:hover{
      color: white;
  }
  .contact{
      color: white;
      height: 100px;
      width: 100px;
      margin-top: -15%;
      margin-left: 50px;
      padding: 1%;
  }
  .contact ul li a{
      color: white;
      text-decoration: none;
  }
  .contact ul li a:hover{
      color:#ff6611;
  }
  .help{
      color: white;
      height: 100px;
      width: 100px;
      margin-top: -9.5%;
      margin-left: 300px;
      padding: 1%;
  }
  .help ul li a{
      color: white;
      text-decoration: none;
  }
  .help ul li a:hover{
      color: #ff6611;
  }
  .follow{
      color: white;
      height: 100px;
      width: 100px;
      margin-top: -8%;
      margin-left: 600px;
  }
  .follow ul li a{
      color: white;
      text-decoration: none;
  }
  .follow ul li a:hover{
      color: #ff6611;
      background-color: #1e90ff;
  }