*{
    margin: 0%;
    padding: 0%;
    font-family: "Audiowide", sans-serif;

}

body{
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
    
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background:#fcfcfc;
    border-radius: 10px;
    position: fixed;
    top: 0%;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #0e0e52;
    
}

.nav-image{
    display: flex;
    height: 70px;
    width: 300px;
    position: absolute;
    top: 5px;
    left: 10%;
    background-image:url("logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-items{
    display: flex;
    position:fixed;
    left: 50%;
}

.nav-items ul li{
    display: inline-block;
    
}

.nav-items ul li a{
    font-size: 20px;
    margin-left: 25px;
    line-height: 70px;
    text-decoration: none;
    color: #0e0e52;
    transition: 0.25s;

}
.nav-items ul li a:hover{
    color: #3185fc;
    text-decoration: solid;
    text-decoration: underline;
}

 
    .main1{
     height: 800px;
     width: 100%;
     background-color: darkslategrey;
    }
 
    .m1{
     height: 500px;
     width: 400px;
     border-radius: 10px;
     background-image: url(images/jin1.jpg);
     background-size: cover;
     position: absolute;
     top: 150px;
     left: 10%;
     box-shadow: 5px -5px 10px black;
     z-index: 1;
    }
 
    .m2{
     height: 300px;
     width: 600px;
     border-radius: 10px;
     background-image: url(images/coll3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 100px;
     left: 32%;
     box-shadow: 5px -5px 10px black;
    }
 
    .m3{
     height: 400px;
     width: 300px;
     padding: 10px;
     margin: 10px;
     background-color: white;
     box-shadow: -5px -5px 10px 2px black;
     position: absolute;
     left: 53%;
     top: 360px;
     border: solid black 2px;
     border-radius: 10px;
    }
 
    .m3 h1{
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 5px;
     margin-top: 20px;
    }
 
    .m3 p{

     padding: 15px;
    }

    .front1{
     height: 1500px;
     width: 50%;
     padding: 100px;
     margin-top: 300px;
     margin-left: 50px;
     background-color:#c8c9ca;
     text-wrap:20px;
     box-shadow: 5px 5px 10px 5px #8391a1;
     z-index: 2;
     border-radius: 10px;
    }

    .front1 #i1{
        float: right;
        height:400px;
        width:350px;
        margin-left: 40px;
    }

    .front1 #i2{
        float: left;
        height: 300px;
        width: 400px;
        margin-right: 40px;
    }

    .front1 #i3{
        float: right;
        height: 300px;
        width: 400px;
        margin-left: 40px;
        margin-top: 150px;
    }


    .back1{
        height: 1500px;
        width: 30%;
        background-color:rgb(223, 223, 199);
        padding: 40px;
        position: absolute;
        top: 1000px;
        left: 60%;
        z-index: -1;
        box-shadow: -5px -5px 40px 5px #8391a1;
        text-wrap: 20px;
        transition: 2s ease-in-out;
    }

    .back1:hover + .back1{
        background-color: red;
        transform: scale3d(1.1,1.1,1.1);
        z-index: 10;
    }


    .back1 #i1{
        float: left;
        height:350px;
        width: 300px;
        margin-right: 20px;
    }

    .back1 #i2{
        float: right;
        height:350px;
        width: 300px;
        margin-left:20px;
    }

    .achievements{
        margin-top: 200px;
        height: 300px;
        width: 100%;
        background-color: #1e90ff;
    }
 
 
 
 
 
 
 
 
 
 
 
 
.new_footer_area {
    background: #fefefa;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color:#07393C;
}
.btn_get:hover {
    color: #fff;
    background: #07393C;
    border-color: #07393C;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #07393C;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #07393C;
    border-color: #07393C;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #07393C;
}

.new_footer_top .f_social_icon a:hover {
    background:#07393C;
    border-color: #07393C;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

