*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
    
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background:#fcfcfc;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #0e0e52;
    
}

.nav-image{
    display: flex;
    height: 70px;
    width: 300px;
    position: absolute;
    top: 5px;
    left: 10%;
    background-image:url("logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-items{
    display: flex;
    position:fixed;
    left: 50%;
}

.nav-items ul li{
    display: inline-block;
    
}

.nav-items ul li a{
    font-size: 20px;
    margin-left: 25px;
    line-height: 70px;
    text-decoration: none;
    color: #0e0e52;
    transition: 0.25s;

}
.nav-items ul li a:hover{
    color: #3185fc;
    text-decoration: solid;
    text-decoration: underline;
}


section h1{
    color: #fcfcfc;
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 40%;
    font-size: 100px;

}


.carousel-inner {
    height: 100vh;
    

}

.carousel-inner .d-block{
    height: 100vh;
}

.main1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    background:linear-gradient(to right , #3185fc,#150578);
    gap: 20px;
    border-radius: 20px;
}

.main1 a button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;

}

.main1 a button:hover{
  background:linear-gradient(to left , #150578,#fcfcfc);
  color: white;
  border: none;
  transition: 1s ;
}


#SEM1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main2 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main2 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main2 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.dropdown-menu .dropdown-item:hover{
    background-color: #3185fc;
}

#SEM2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main3 #dropdownMenuButton1{
    height: 80px;
    width: 260px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main3 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main3 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}


.main3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}


#SEM3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main4 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main4 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main4 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

#SEM5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main5 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main5 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main5 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

#SEM5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main6 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main6 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main6 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}


#SEM6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main7 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main7 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main7 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}


#SEM7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main8 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main8 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main8 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}


#SEM8{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.main9{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

.main9 #dropdownMenuButton1{
    height: 80px;
    width: 300px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: #0e0e52;
    font-size: 25px;

}

.main9 #dropdownMenuButton1:hover{
    background:linear-gradient(to right top, #3185fc,#fcfcfc);
}

.main9 .dropdown-menu{
    margin-top: 50px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
    font-size: 20px;
}

.main9{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    min-height: 100vh;
    border-radius: 20px;
    width: 100%;
    background-color: #150578;
    color: #fcfcfc;

}

