*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background:#fefefa;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #2c666e;
    
}

.nav-image{
    display: flex;
    height: 70px;
    width: 300px;
    position: absolute;
    top: 5px;
    left: 10%;
    background-image:url("logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-items{
    display: flex;
    position:fixed;
    left: 50%;
}

.nav-items ul li{
    display: inline-block;
    
}

.nav-items ul li a{
    font-size: 20px;
    margin-left: 25px;
    line-height: 70px;
    text-decoration: none;
    color: #253529;
    transition: 0.25s;

}
.nav-items ul li a:hover{
    color: #1e90ff;
    text-decoration: solid;
    text-decoration: underline;
}
.nav-items ul li a:active{
    background-color: white;
}

.nav-bar{
    position: fixed;
}

.title{
    display: flex;
    height: 100vh;
    width: 100%;
    color: #fefefa;
    background-color: #253529;
    text-shadow: 2px 2px 5px #ebeef5;

}

.main1{
    display: flex;
    height: 300px;
    width: 0%;
    position: absolute;
    margin-left: 30%;
    margin-top: 150px;
    border-left: solid 5px #fefefa;
    box-shadow:2px 2px 2px 2px #ebeef5;
}
.rgit{
    text-shadow: 2px 2px 5px #ebeef5;
    font-size: 100px;
    position: absolute;
    left: 100%;
    top: 25%;
    animation: rgit 1s forwards;
}
@keyframes rgit{
 100%{transform: translateX(-140%);}
}

.top{
    text-align: center;
    color: #253529;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main2{
    display: flex;
    height: 140vh;
    width: 100%;
    background-color: #253529;
    border-radius: 10px;
}

#c1{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    position: absolute;
    margin-top: 50px;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c1:hover{
    transform: scale3d(1.1,1.1,1.1);
}

#logo1{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/cess.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}


#c2{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 50px;
    margin-left: 40%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c2:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo2{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/abit.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}

#c3{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 50px;
    margin-left: 70%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;

}
#c3:hover{
    transform: scale3d(1.1,1.1,1.1);
}



#logo3{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/soch.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;
}



#c4{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 10%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c4:hover{
    transform: scale3d(1.1,1.1,1.1);
}

#logo4{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/sports.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}

#c5{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 40%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c5:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo5{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/studentscouncil.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}



#c6{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 70%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c6:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo6{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/ubac.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}

.mid{
    text-align: center;
    color: #253529;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main3{
height: 210vh;
width: 100%;
background-color: #253529;
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
}



#c7{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    position: absolute;
    margin-top: 50px;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c7:hover{
    transform: scale3d(1.1,1.1,1.1);
}

#logo7{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/aero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}


#c8{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 50px;
    margin-left: 40%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c8:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo8{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/ASME.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}

#c9{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 50px;
    margin-left: 70%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;

}
#c9:hover{
    transform: scale3d(1.1,1.1,1.1);
}



#logo9{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/ecell.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;
}



#c10{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 10%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c10:hover{
    transform: scale3d(1.1,1.1,1.1);
}

#logo10{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/grid.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}

#c11{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 40%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c11:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo11{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/ieee.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}



#c12{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 550px;
    margin-left: 70%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c12:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo12{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/iete.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}

#c13{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 1050px;
    margin-left: 10%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c13:hover{
    transform: scale3d(1.1,1.1,1.1);
}

#logo13{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/iiie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}

#c14{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 1050px;
    margin-left: 40%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c14:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo14{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/ODECELL.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;


}



#c15{
    display: flex;
    height: 50vh;
    width: 20%;
    background-color: #fefefa;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
    position: absolute;
    margin-top: 1050px;
    margin-left: 70%;
    box-shadow: 5px 5px 10px 2px black;
    transition: 1s;
}
#c15:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#logo15{
    height: 200px;
    width: 66%;
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(committeeslogo/mesa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #002366;
    border-radius: 50%;
    border: solid 2px black;

}



.new_footer_area {
    background: #fefefa;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color:#07393C;
}
.btn_get:hover {
    color: #fff;
    background: #07393C;
    border-color: #07393C;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #07393C;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #07393C;
    border-color: #07393C;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #07393C;
}

.new_footer_top .f_social_icon a:hover {
    background:#07393C;
    border-color: #07393C;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
