*{
    margin: 0%;
    padding: 0%;
    font-family: "Audiowide", sans-serif;
    
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background:#141414;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #2c666e;
    
}

.nav-image{
    display: flex;
    height: 70px;
    width: 300px;
    position: absolute;
    top: 5px;
    left: 10%;
    background-image:url("images/logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-items{
    display: flex;
    position:fixed;
    left: 50%;
}

.nav-items ul li{
    display: inline-block;
    
}

.nav-items ul li a{
    font-size: 20px;
    margin-left: 25px;
    line-height: 70px;
    text-decoration: none;
    color: #fefefa;
    transition: 0.25s;

}
.nav-items ul li a:hover{
    color: #1e90ff;
    text-decoration: solid;
    text-decoration: underline;
}
.nav-items ul li a:active{
    background-color: white;
}

.nav-bar{
    position: fixed;
}

       .main1{
       height: 100vh;
       width: 100%;
       
       }

       .main1 .party{
            font-family: 'Times New Roman', Times, serif;
           text-align: center;
           width: 90%;
           position: absolute;
           top: 10%;
           margin-top: 200px;
           margin-left: 5%;
           font-size: 180px;
           border: solid 5px white;
           font-weight: 600;
           z-index: 1;
           color: rgba(255, 255, 255, 1);
           transition: 1s;
       }

       .main1 .party:hover{
           -webkit-text-stroke: 5px #fff;
           color: transparent;
       }

       .back-video{
           height: 100vh;
           width: 100%;
           z-index: -1;
       }

       .main2{
        display: flex;
        gap: 2%;  
        margin-top: 50px; 
       }


       .left{
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           width: 47%;
           background-color: #fefefa;
           background-image: url("images/4-1.jpg");
           border-radius: 20px;
           background-position: -150px 0px;
           margin-left: 2%;
           border-radius: 20px;
       }
       
       .main2 .left h3{
        
        border: solid 5px #000;
        font-size: 100px;
        font-weight: 600;
        z-index: 1;
        color: #141414;
        transition: 1s;

       }

       .main2 .left h3:hover{
        -webkit-text-stroke: 3px #000;
        color: transparent;
    }


       .right{
            display: flex;
            justify-content: center;
           align-items: center;
           height: 100vh;
           width: 47%;
           background-color: #fefefa;
           background-image: url("images/9.jpg");
           background-size: cover;
           background-position: -250px;
           margin-right: 2%;
           border-radius: 20px;

       }

       .main2 .right h1{
        
        font-size: 100px;
        font-weight: 600;
        z-index: 1;
        border: solid 5px #000;

        color: #141414;
        transition: 1s;

       }

       .main2 .right h1:hover{
        -webkit-text-stroke: 3px #000;
        color: transparent;
        }

       .main3{
        display: flex;
        height: 80vh;
        width: 100%;
        background-color: #1e90ff;
        margin-top: 50px;
        border-radius: 20px;
        /* background-size: cover; */
        background-position: 0px -100px;
        background-image: url("images/Cell-Phones-Up4.jpg");
       }

       .main3 h2{
        
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 2%;
        margin-top: 10%;
        width: 95%;
        font-size: 100px;
        border: solid 5px #fefefa;
        /* font-weight: 0; */
        z-index: 1;
        color: #ffffff;
        transition: 1s;
    }

    .main3 h2:hover{
        -webkit-text-stroke: 5px #ffffff;
        color: transparent;
    }

       .main4{
        display: flex;
        position: relative;
        height: 80vh;
        width: 100%;
        background-color: #1e90ff;
        margin-top: 50px;
        background-image: url("images/music1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
       }

       .main4 h2{
        font-size: 100px;
        font-weight: 600;
        z-index: 1;
        /* border: solid 5px #000; */
        color: #ffffff;
        transition: 1s;
        margin-top: 150px;
        margin-left: 300px;

       }

       .main4 h2:hover{
        -webkit-text-stroke: 3px #ffffff;
        color: transparent;
        }


       .main5{
        height: 80vh;
        width: 100%;
        display: flex;
        gap: 2%;  
        margin-top: 50px; 
        margin-bottom: 100px;
       }

       .main5-1{
        width: 100%;
       }



       .new_footer_area {
        background: #fefefa;
    }
    
    
    .new_footer_top {
        padding: 120px 0px 270px;
        position: relative;
          overflow-x: hidden;
    }
    .new_footer_area .footer_bottom {
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .footer_bottom {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #7f88a6;
        padding: 27px 0px;
    }
    .new_footer_top .company_widget p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #6a7695;
        margin-bottom: 20px;
    }
    .new_footer_top .company_widget .f_subscribe_two .btn_get {
        border-width: 1px;
        margin-top: 20px;
    }
    .btn_get_two:hover {
        background: transparent;
        color:#07393C;
    }
    .btn_get:hover {
        color: #fff;
        background: #07393C;
        border-color: #07393C;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
        text-decoration: none;
        outline: none;
    }
    
    
    
    .new_footer_top .f_widget.about-widget .f_list li a:hover {
        color: #07393C;
    }
    .new_footer_top .f_widget.about-widget .f_list li {
        margin-bottom: 11px;
    }
    .f_widget.about-widget .f_list li:last-child {
        margin-bottom: 0px;
    }
    .f_widget.about-widget .f_list li {
        margin-bottom: 15px;
    }
    .f_widget.about-widget .f_list {
        margin-bottom: 0px;
    }
    .new_footer_top .f_social_icon a {
        width: 44px;
        height: 44px;
        line-height: 43px;
        background: transparent;
        border: 1px solid #e2e2eb;
        font-size: 24px;
    }
    .f_social_icon a {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 45px;
        color: #858da8;
        display: inline-block;
        background: #ebeef5;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .ti-facebook:before {
        content: "\e741";
    }
    .ti-twitter-alt:before {
        content: "\e74b";
    }
    .ti-vimeo-alt:before {
        content: "\e74a";
    }
    .ti-pinterest:before {
        content: "\e731";
    }
    
    .btn_get_two {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #07393C;
        border-color: #07393C;
        color: #fff;
    }
    
    .btn_get_two:hover {
        background: transparent;
        color: #07393C;
    }
    
    .new_footer_top .f_social_icon a:hover {
        background:#07393C;
        border-color: #07393C;
      color:white;
    }
    .new_footer_top .f_social_icon a + a {
        margin-left: 4px;
    }
    .new_footer_top .f-title {
        margin-bottom: 30px;
        color: #263b5e;
    }
    .f_600 {
        font-weight: 600;
    }
    .f_size_18 {
        font-size: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #4b505e;
    }
    .new_footer_top .f_widget.about-widget .f_list li a {
        color: #6a7695;
    }
    
    
    .new_footer_top .footer_bg {
        position: absolute;
        bottom: 0;
        background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
        width: 100%;
        height: 266px;
    }
    
    .new_footer_top .footer_bg .footer_bg_one {
        background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
        width: 330px;
        height: 105px;
        background-size:100%;
        position: absolute;
        bottom: 0;
        left: 30%;
        -webkit-animation: myfirst 22s linear infinite;
        animation: myfirst 22s linear infinite;
    }
    
    .new_footer_top .footer_bg .footer_bg_two {
        background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
        width: 88px;
        height: 100px;
        background-size:100%;
        bottom: 0;
        left: 38%;
        position: absolute;
        -webkit-animation: myfirst 30s linear infinite;
        animation: myfirst 30s linear infinite;
    }
    
    
    
    @-moz-keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    
    @-webkit-keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    
    @keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    

